{% trans_default_domain "wellcommerce" %}
{% import "WellCommerceAppBundle:Front/Form:macros_horizontal.html.twig" as macros %}
<div class="description-block">
	<h2>{% trans %}product_review.heading.index{% endtrans %}</h2>

	<div id="add-opinion-alert" class="alert alert-success">
		<button class="btn btn-success btn-lg pull-right">Add opinion</button>
		<strong>Help others decide - add rating and review</strong><br />
		Your rating will help others decide to choose the right product
	</div>

	<!-- OPINION ADDED ALERT
    <div class="alert alert-info">
        <strong>Your review has been sent and is awaiting moderation.</strong>
    </div>
    -->

	<div class="well product-opinions collapse">
		{{ macros.form_begin(form, 'form-horizontal') }}
			<div class="form-group">
				<label for="nick" class="col-sm-3 control-label">{% trans %}product_review.label.rating{% endtrans %}</label>
				<div class="col-md-6 col-sm-10">
					<div class="stars"></div>
				</div>
			</div>
			{{ macros.element(form.children.get('rating')) }}
			{{ macros.element(form.children.get('nick')) }}
			{{ macros.element(form.children.get('review')) }}
			<div class="form-group">
				<div class="col-sm-offset-3 col-md-6 col-sm-10">
					<button type="submit" class="btn btn-primary">{% trans %}product_review.button.add_opinion{% endtrans %}</button>
				</div>
			</div>
		{{ macros.form_end(form) }}
	</div>

	{% for review in reviews %}
	<div class="media product-opinion">
		<div class="media-left">
			<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
		</div>
		<div class="media-body">
			<h4 class="media-heading">
				{{ review.nick }}
				<small>{{ review.createdAt|date }}</small>
			</h4>

			<div>
				{% for i in range(1, review.rating) %}
					<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				{% endfor %}
			</div>
			{% autoescape true %}
			{{ review.review }}
			{% endautoescape %}
		</div>
	</div>
	{% endfor %}
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.product-opinions div.stars').raty({
			target:     '#rating',
			targetType: 'score',
			targetKeep : true,
			score: 5,
			starOff : '{{ asset('themes/wellcommerce-default-theme/assets/img/star-off.png') }}',
			starOn  : '{{ asset('themes/wellcommerce-default-theme/assets/img/star-on.png') }}'
		});
	});
</script>
