{% extends 'WellCommerceWebBundle:Front:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    {% include 'WellCommerceWebBundle:Front:breadcrumbs.html.twig' %}
    <div class="row">
        <div class="col-lg-9">
            <div class="cart">
                <div class="alert alert-info mtp30">
                    <p><strong>{% trans %}payment.flash.success{% endtrans %}</strong></p>
                    <p>{% trans %}order.label.id{% endtrans %}: <strong>{{ order.getId() }}</strong></p>
                    <p>{% trans %}order.label.payment_method{% endtrans %}: <strong>{{ order.getPaymentMethod().translate().getName() }}</strong></p>
                    <p>{% trans %}order.label.product_total{% endtrans %}: <strong>{{ format_price(order.getProductTotals().getGrossAmount(), order.getCurrency()) }}</strong></p>
                    <p>{% trans %}order.label.shipping_details{% endtrans %}: <strong>{{ format_price(order.getShippingDetails().getGrossPrice(), order.getCurrency()) }}</strong></p>
                    <p>{% trans %}order.label.currency{% endtrans %}: <strong>{{ order.getCurrency() }}</strong></p>
                </div>

                <div class="clearfix">
                    <a href="{{ path('front.home_page.index') }}" class="btn btn-link light btn-lg notransform nopadding">Back to shopping</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            {% include 'WellCommerceCmsBundle:Front/Common:sidebar_contact.html.twig' %}
        </div>
    </div>
{% endblock %}
