<div class="products-grid">
    <div class="row">
        {% for item in dataset.rows %}
        <div class="col-lg-3">
            <div class="thumbnail">
                <div class="body">
                    <a href="{{ path(item.route) }}" class="photo">
                        <img src="{{ image(item.photo, 'normal') }}" alt="{{ item.name }}">
                    </a>

                    <a href="{{ path(item.route) }}" class="caption">
                        <div class="labels">
                            <span class="label">Bestseller</span>
                        </div>
                        <span class="price">{{ price(item.price, item.currency) }}</span>
                        <span class="name">{{ item.name }}</span>
                    </a>

                    <a href="{{ path(item.route) }}" class="btn btn-primary text-left">{% trans %}cart.button.add{% endtrans %}<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

