{% macro form_begin(form, class) %}
    {% autoescape true %}
        <form
            name="{{ form.getOption('name') }}"
            class="{{ form.getOption('class') }} {{ class }}"
            action="{{ form.getOption('action') }}"
            method="{{ form.getOption('method') }}"
        >
        <input type="hidden" name="{{ form.getOption('name') }}_submitted" value="1"/>
    {% endautoescape %}
{% endmacro %}

{% macro form_end(form) %}
    {% autoescape true %}
        </form>
    {% endautoescape %}
{% endmacro %}

{% macro element(element, class) %}
    {% import _self as elements %}
    {{ attribute(elements, element.getOption('type'), [element, class]) }}
{% endmacro %}

{% macro hidden(element) %}
    {% set options = element.getOptions() %}
    {% set fieldNameParts = options.name|split('.') %}
    {% if fieldNameParts|length > 1 %}
        {% set fieldName = fieldNameParts[0] ~ '['~ options.name ~']' %}
    {% else %}
        {% set fieldName = options.name %}
    {% endif %}
    {% autoescape true %}
        <input type="hidden" id="{{ options.name }}" name="{{ fieldName }}" value="{{ element.getValue() }}">
    {% endautoescape %}
{% endmacro %}

{% macro text_field(element, class) %}
    {% set options = element.getOptions() %}
    {% set classes = ['form-control', options.class, class] %}
    {% set fieldNameParts = options.name|split('.') %}
    {% if fieldNameParts|length > 1 %}
        {% set fieldName = fieldNameParts[0] ~ '['~ options.name ~']' %}
    {% else %}
        {% set fieldName = options.name %}
    {% endif %}
    {% autoescape true %}
    <div class="form-group {% if element.getError()|length %}has-error has-feedback{% endif %}">
        <label class="col-sm-3 text-right" for="{{ options.name }}">{{ options.label }}</label>
		<div class="col-sm-5">
	        <input type="text" class="{{ classes|join(' ')|trim }}" id="{{ options.name }}" name="{{ fieldName }}" value="{{ element.getValue() }}" />
		</div>
        {% if element.getError()|length %}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <span>{{ element.getError()|join(' ') }}</span>
        {% endif %}
    </div>
    {% endautoescape %}
{% endmacro %}

{% macro checkbox(element, class) %}
    {% set options = element.getOptions() %}
    {% set classes = ['form-control', options.class, class] %}
    {% set fieldNameParts = options.name|split('.') %}
    {% if fieldNameParts|length > 1 %}
        {% set fieldName = fieldNameParts[0] ~ '['~ options.name ~']' %}
    {% else %}
        {% set fieldName = options.name %}
    {% endif %}
    {% autoescape true %}
    <div class="checkbox {% if element.getError()|length %}has-error has-feedback{% endif %}">
        <label for="{{ options.name }}">
            <input type="checkbox" id="{{ options.name }}" name="{{ fieldName }}" value="1" {% if element.getValue() == 1 %}checked{% endif %}>
            {{ options.label }}
        </label>
        {% if element.getError()|length %}
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span>{{ element.getError()|join(' ') }}</span>
        {% endif %}
    </div>
    {% endautoescape %}
{% endmacro %}

{% macro text_area(element, class) %}
    {% set options = element.getOptions() %}
    {% set classes = ['form-control', options.class, class] %}
    {% set fieldNameParts = options.name|split('.') %}
    {% if fieldNameParts|length > 1 %}
        {% set fieldName = fieldNameParts[0] ~ '['~ options.name ~']' %}
    {% else %}
        {% set fieldName = options.name %}
    {% endif %}
    {% autoescape true %}
        <div class="form-group">
            <label for="opinion" class="col-sm-3 control-label">{{ options.label }}</label>
            <div class="col-md-6  col-sm-10">
                <textarea class="form-control" id="{{ options.name }}" name="{{ fieldName }}" rows="{{ options.rows }}" cols="{{ options.cols }}">{{ element.getValue() }}</textarea>
            </div>
        </div>
    {% endautoescape %}
{% endmacro %}

{% macro radio_group(element, class) %}
    {% set options = element.getOptions() %}
    {% set classes = ['form-control', options.class, class] %}
    {% set fieldNameParts = options.name|split('.') %}
    {% if fieldNameParts|length > 1 %}
        {% set fieldName = fieldNameParts[0] ~ '['~ options.name ~']' %}
    {% else %}
        {% set fieldName = options.name %}
    {% endif %}
    {% autoescape true %}
        {% for key, label in options.options %}
            <div class="radio">
                <label class="block">
                    <input type="radio" name="{{ fieldName }}" value="{{ key }}" id="{{ options.name }}_{{ key }}" {% if element.getValue() == key %}checked{% endif %}>
                    {% if label is iterable %}
                        {{ label.name }} <strong class="pull-right">{{ label.comment }}</strong>
                    {% else %}
                        {{ label }}
                    {% endif %}
                </label>
            </div>
        {% endfor %}
    {% endautoescape %}
{% endmacro %}

{% macro select(element, class) %}
    {% set options = element.getOptions() %}
    {% set classes = ['form-control', options.class, class] %}
    {% set fieldNameParts = options.name|split('.') %}
    {% if fieldNameParts|length > 1 %}
        {% set fieldName = fieldNameParts[0] ~ '['~ options.name ~']' %}
    {% else %}
        {% set fieldName = options.name %}
    {% endif %}
    {% autoescape true %}
    <div class="form-group {% if element.getError()|length %}has-error has-feedback{% endif %}">
        <label class="col-sm-3 text-right" for="{{ options.name }}">{{ options.label }}</label>
		<div class="col-sm-5">
	        <select class="{{ classes|join(' ')|trim }}" id="{{ options.name }}" name="{{ fieldName }}">
	        {% for key, label in options.options %}
	            <option value="{{ key }}" {% if element.getValue() == key %}selected{% endif %}>{{ label }}</option>
	        {% endfor %}
	        </select>
		</div>
    </div>
    {% endautoescape %}
{% endmacro %}

{% macro password(element, class) %}
    {% set options = element.getOptions() %}
    {% set classes = ['form-control', options.class, class] %}
    {% set fieldNameParts = options.name|split('.') %}
    {% if fieldNameParts|length > 1 %}
        {% set fieldName = fieldNameParts[0] ~ '['~ options.name ~']' %}
    {% else %}
        {% set fieldName = options.name %}
    {% endif %}
    {% autoescape true %}
    <div class="form-group {% if element.getError()|length %}has-error has-feedback{% endif %}">
        <label class="col-sm-3 text-right" for="{{ options.name }}">{{ options.label }}</label>
        <div class="col-sm-5">
	        <input type="password" class="{{ classes|join(' ')|trim }}" id="{{ options.name }}" name="{{ fieldName }}" value="{{ element.getValue() }}" />
        </div>
        {% if element.getError()|length %}
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span>{{ element.getError()|join(' ') }}</span>
        {% endif %}
    </div>
    {% endautoescape %}
{% endmacro %}

{% macro button(element) %}
    {% set options = element.getOptions() %}
    {% set classes = ['btn btn-lg btn-primary btn-block', options.class, class] %}
    {% autoescape true %}

    {% endautoescape %}
{% endmacro %}

{% macro submit(element, class) %}
    {% set options = element.getOptions() %}
    {% set classes = ['btn btn-lg btn-primary btn-block', options.class, class] %}
    {% autoescape true %}
    <button value="{{ element.getValue() }}" class="{{ classes|join(' ')|trim }}" type="submit">{{ options.label }}</button>
    {% endautoescape %}
{% endmacro %}
