{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}product.heading.index{% endtrans %}</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.product.add') }}" class="button"
               title="{% trans %}common.button.add{% endtrans %}"><span>{% trans %}common.button.add{% endtrans %}</span></a></li>
    </ul>

    <script>
        var duplicateProduct = function (dg, id) {
            return window.location.href = Routing.generate('admin.product.duplicate', {
                id: id
            });
        };

        var action_duplicateProduct = new GF_Action({
            caption: Translator.trans('product.button.duplicate', {}, 'wellcommerce'),
            action: duplicateProduct,
            img: '{{ asset('bundles/wellcommerceadmin/images/datagrid/duplicate-row.png') }}',
        });

        var loadedProductDataGrid = function(dDg) {
            dDg.m_jBody.find('.show-thumb').mouseenter(GTooltip.ShowThumbForThis).mouseleave(GTooltip.HideThumbForThis);
        };

        var processProductDataGrid = function(oRow) {
            if (oRow.photo != '') {
                oRow.name = '<a title="" href="' + oRow.photo + '" class="show-thumb"><img src="{{ asset('images/icons/datagrid/details.png') }}" style="vertical-align: middle;" /></a> '+ oRow.name;
            }else{
                oRow.name = '<img style="opacity: 0.2;vertical-align: middle;" src="{{ asset('images/icons/datagrid/details.png') }}" style="vertical-align: middle;" /> '+ oRow.name;
            }

            return oRow;
        };

    </script>

    {{ datagrid_renderer(datagrid) }}
{% endblock %}
