<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">
<head>
    <title>{{ shop_settings.name }} - Administration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Author" content="WellCommerce sp. z o.o."/>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('design/_css_panel/core/style.css') }}" type="text/css"/>
    {% endblock %}
    {% javascripts 'js/library/*.js' output='js/all.js' %}
    <script type="text/javascript" src="{{ asset('design/js/all.js') }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ asset('design/_js_panel/gekosale.js') }}"></script>
    <script type="text/javascript">
        new GCore({
            iCookieLifetime: 30,
            sDesignPath: '{{ asset('design/') }}',
            iActiveView: '{{ view }}',
            iActiveLanguage: '{{ language }}',
            aoLanguages: '{{ languages }}',
            aoVatValues: '{{ vatvalues }}',
            sUrl: '{{ URL }}',
            sCurrentController: '{{ CURRENT_CONTROLLER }}',
            sCurrentAction: '{{ CURRENT_ACTION }}'
        });
    </script>
    <script type="text/javascript" src="{{ asset('design/_js_panel/init.js') }}"></script>
    <script type="text/javascript" src="{{ asset('design/_js_panel/gf.js') }}"></script>
    <script type="text/javascript">
        GF_Debug.s_iLevel = GF_Debug.LEVEL_ALL;
    </script>
    {{ xajax_javascript() }}
    {% if error is defined %}
        <script type="text/javascript">
            GError('{% trans %}TXT_ERROR_OCCURED{% endtrans %}', '{{ error }}');
        </script>
    {% endif %}
    {% if message is defined %}
        <script type="text/javascript">
            $(document).ready(function () {
                GMessage('{{ message }}');
            });
        </script>
    {% endif %}
</head>