{% include 'header.html.twig' %}
<body>
<div id="header">
    <div class="layout-container">
        <h1><a href="{{ path('admin.dashboard.index') }}"><img src="{{ asset('design/_images_panel/logos/logo.png') }}" alt=""/></a></h1>

        <div id="livesearch">
            <input type="text" name="search" id="search" placeholder="{% trans %}Search{% endtrans %}"/>
        </div>
        <div id="top-menu">
            <ul>
                <li>
                    <a href="{{ path('admin.user.edit',{"id": user.id}) }}">{{ user.first_name }} {{ user.last_name }}</a>
                    (<a href="{{ path('admin.user.logout') }}">{% trans %}Logout{% endtrans %}</a>)
                </li>
                <li>
                    <a target="_blank" href="http://gekosale.com/professional-services">{% trans %}Help{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ FRONTEND_URL }}" target="_blank">{% trans %}Your shop{% endtrans %}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="navigation-bar">
    <div class="layout-container">
        <div id="selectors" style="float: right; margin-top: 8px;"></div>
        {% include 'navigation.twig' %}

        <div id="boxShop">
            <span class="icon"></span>

            <div class="field-select">
                <select name="view-switcher" onchange="xajax_ChangeActiveView(this.value);">
                    {% for id,name in shops %}
                        <option value="{{ id }}" {% if view.active %}selected="selected"{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

    </div>
</div>
<div id="message-bar"></div>
<div id="content" class="layout-container">
    {% block content %}{% endblock %}
</div>

{% include 'footer.html.twig' %}