{% macro datagrid_header(id) %}
    {% autoescape true %}
    <div class="block">
        <div id="datagrid-{{ id }}"></div>
    </div>
    {% endautoescape %}
{% endmacro %}

{% macro datagrid_column(id, options, filters) %}

    var column_{{ id }} = new GF_Datagrid_Column({
        id: '{{ id }}',
        caption: '{{ options.caption }}',
        editable: {{ options.editable ? 'true' : 'false' }},
        selectable: {{ options.selectable ? 'true' : 'false' }},
        sorting: {
            default_order: {{ options.sorting.default_order }}
        },
        appearance: {
            width: {{ options.appearance.width }},
            visible: {{ options.appearance.visible == false ? "false" : 'true' }}
        },
        filter: {
            type: {{ options.filter.type }},
            {% if options.filter.type == 'GF_Datagrid.FILTER_SELECT' and filters[id] is defined %}
            options: {{ filters[id]|json_encode|raw }}
            {% endif %}
        }
    });
{% endmacro %}

{% macro datagrid_options (datagrid) %}
    var options = {
        id: '{{ datagrid.getIdentifier() }}',
        appearance: {
            {{ datagrid.getOptions().getAppearance()|raw }}
        },
        mechanics: {
            {{ datagrid.getOptions().getMechanics()|raw }}
        },
        event_handlers: {
            {% for name, options in datagrid.getOptions().getEventHandlers() %}
            {{ name }}: {{ options.get('function') }},
            {% endfor %}
        },
        columns: [
            {% for key, column in datagrid.getColumns() %}
                column_{{ key }},
            {%  endfor %}
        ],
        row_actions: [
            {% for event in datagrid.getOptions().getEventHandlers() if event.get('row_action') != false %}
                {{ event.get('row_action') }},
            {% endfor %}
        ],
        group_actions: [
            {% for event in datagrid.getOptions().getEventHandlers() if event.get('group_action') != false %}
                {{ event.get('group_action') }},
            {% endfor %}
        ],
        context_actions: [
            {% for event in datagrid.getOptions().getEventHandlers() if event.get('context_action') != false %}
                {{ event.get('context_action') }},
            {% endfor %}
        ]
    };
{% endmacro %}