{% trans_default_domain "wellcommerce" %}
{% import "WellCommerceFormBundle:Front/Common:macros.html.twig" as macros %}
{% include 'WellCommerceWebBundle:Front/Common:flashes.html.twig' %}

<div class="well-form">
    <h4>{% trans %}client.heading.login{% endtrans %}<small>{% trans %}form.label.required_fields{% endtrans %}</small></h4>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ macros.form_begin(form) }}

        {% for element in elements %}
            {{ macros.element(element) }}
        {% endfor %}

        <div class="clearfix">
            <a href="{{ path('front.client.password') }}" class="btn btn-link nopadding notransform">{% trans %}client.link.password_forgotten{% endtrans %}</a>
            <button type="submit" class="btn btn-primary pull-right">{% trans %}client.form.button.login{% endtrans %}</button>
        </div>
    {{ macros.form_end(form) }}

    <div class="alert alert-sm mtp30">
        <strong>If you are our regular customer</strong>
        <ul>
            <li>You buy quickly and easily</li>
            <li>You can follow any of your orders</li>
            <li>You receive information about promotions</li>
        </ul>
    </div>
</div>
