{% trans_default_domain "wellcommerce" %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body mbt20">
            <div class="row">
                <div class="col-lg-8">
                    <h2>{{ product.translate().name }}</h2>
                    {% for photo in product.productPhotos if photo.mainPhoto == 1 %}
                        <img src="{{ image(photo.photo.path, 'large') }}" />
                    {% endfor %}
                </div>
                <div class="col-lg-4">
                    <div class="add-to-cart">
						<span class="price">
							{{ format_price(product.sellPrice.grossAmount, product.sellPrice.currency) }}
						</span>

                        <div class="available text-center">
                            {% for shippingCost in shippingCosts %}
                                <span>{{ shippingCost.shippingMethod.translate().name }} {{ format_price(shippingCost.cost.grossAmount, shippingCost.cost.currency) }}</span><br />
                            {% endfor %}
                        </div>

                        <form class="form-horizontal add-product-cart">
                            <input type="hidden" id="product" value="{{ product.id }}"/>
                            <div class="form-group">
                                <label for="size" class="col-lg-5 control-label">Color</label>
                                <div class="col-lg-7">
                                    <select class="form-control attributes">
                                        {% for attribute in product.attributes %}
                                        <option value="{{ attribute.id }}">{{ attribute.id }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="quantity" class="col-lg-5 control-label">Quantity</label>
                                <div class="col-lg-7">
                                    <input id="quantity" type="text" class="form-control" value="1" />
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block text-left" id="add-cart">{% trans %}cart.button.add{% endtrans %}<img src="{{ asset('themes/wellcommerce-default-theme/assets/img/add-to-cart.png') }}" class="pull-right" /></button>
                        </form>
                    </div>

                    <div class="additional text-center">
                        <a href="#">Add to clipboard</a><br />
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-footer noborder"></div>
    </div>
</div>
