<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">
<head>
    <title>Administration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Author" content="WellCommerce sp. z o.o."/>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    {% stylesheets 'bundles/wellcommercecore/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% javascripts '@WellCommerceCoreBundle/Resources/public/js/libs/*' output='js/libs/all.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@WellCommerceCoreBundle/Resources/public/js/core/10.gekosale.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        new GCore({
            iCookieLifetime: 30,
            sDesignPath: '{{ asset('bundles/wellcommercecore/') }}',
            iActiveView: '',
            iActiveLanguage: '',
            aoLanguages: '',
            aoVatValues: '',
            sUrl: '{{ app.request.getBaseURL() }}',
            sCurrentController: '',
            sCurrentAction: ''
        });
    </script>
    {% javascripts
        '@WellCommerceCoreBundle/Resources/public/js/core/30.gf.js'
        '@WellCommerceCoreBundle/Resources/public/js/core/40.init.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        GF_Debug.s_iLevel = GF_Debug.LEVEL_ALL;
    </script>

    {{ xajax_javascript() }}
    {% include 'WellCommerceCoreBundle:Admin:flashes.html.twig' %}
</head>