<ul id="navigation">
    {% for firstLevel in menu %}
        {% if firstLevel.children is empty %}
            <li>
                <a href="{{ firstLevel.link }}" id="menu-{{ firstLevel.class }}"><span class="icon {{ firstLevel.class }}"></span>{{ firstLevel.name }}</a>
            </li>
        {% else %}
            <li>
                <a {% if firstLevel.link != '' %}href="{{ firstLevel.link }}"{% endif %} id="menu-{{ firstLevel.class }}"><span class="icon {{ firstLevel.class }}"></span>{{ firstLevel.name }}</a>
                <ul>
                    {% for secondLevel in firstLevel.children %}
                        <li>
                            <a {% if secondLevel.link != '' %}href="{{ secondLevel.link }}"{% else %}style="cursor: pointer;"{% endif %}>{{ secondLevel.name }}</a>
                            {% if secondLevel.children is not empty %}
                                <ul>
                                    {% for thirdLevel in secondLevel.children %}
                                        <li>
                                            <a href="{{ thirdLevel.link }}">{{ thirdLevel.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>