{% trans_default_domain "wellcommerce" %}
{% set activeProducers = app.request.get('producers')|split('_') %}
<div class="box">
    <div class="panel panel-default filters">
        <div class="panel-body">
            <form id="layered-navigation-form">
                <fieldset class="price-range">
                    <h5>{% trans %}product.label.layered_navigation.price{% endtrans %}
                        <small>({{ app.request.session.get('_currency')|upper }})</small>
                    </h5>
                    <input type="number" class="form-control" id="price-from" name="priceFrom" placeholder="from" value="{{ app.request.get('priceFrom') }}">
                    <span class="divider">-</span>
                    <input type="number" class="form-control" id="price-to" name="priceTo" placeholder="to" value="{{ app.request.get('priceTo') }}">
                </fieldset>

                <fieldset>
                    <h5>{% trans %}product.label.layered_navigation.brand{% endtrans %}</h5>
                    {% for producer in producers().rows %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="producers[]" value="{{ producer.id }}" {% if producer.id in activeProducers %}checked{% endif %}>
                                {{ producer.name }}
                            </label>
                        </div>
                    {% endfor %}
                </fieldset>
                <div class="clearfix">
                    <button class="btn btn-primary btn-block text-left" type="submit">{% trans %}product.button.filter{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#layered-navigation-form').GLayeredNavigation({
            sFilterRoute: 'front.layered_navigation.filter',
            sCurrentRoute: '{{ app.request.get('_route') }}',
            sCurrentRouteParams: {{ app.request.get('_route_params')|json_encode|raw }},
            sCurrentQueryParams: {{ app.request.query.all|json_encode|raw }},
        });
    });
</script>
