{% trans_default_domain "wellcommerce" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}">
<head>
    <title>Administration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Author" content="WellCommerce sp. z o.o."/>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
    <script type="text/javascript" src="{{ asset('js/admin/libs.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
        new GCore({
            iCookieLifetime: 30,
            sDesignPath: '/',
            iActiveView: '',
            iActiveLanguage: '',
            aoLanguages: '',
            sUrl: '{{ app.request.getBaseURL() }}',
            sCurrentController: '',
            sCurrentAction: ''
        });

        var DataGrid;
    </script>
    <script type="text/javascript" src="{{ asset('js/admin/core.js') }}"></script>
    <script type="text/javascript">
        GF_Debug.s_iLevel = GF_Debug.LEVEL_ALL;
    </script>
    {% block javascripts %}{% endblock %}
    {% include 'WellCommerceAdminBundle:Admin:flashes.html.twig' %}
</head>
{% block body %}
<body>
<div id="header">
    <div class="layout-container">
        <h1>
            <a href="{{ path('admin.dashboard.index') }}">
                <img src="{{ asset('images/logo.png') }}" alt="WellCommerce" />
            </a>
        </h1>

        <div id="livesearch">
            <input type="text" name="search" id="search" placeholder="{% trans %}admin.label.global_context{% endtrans %}"/>
        </div>
        <div id="top-menu">
            <ul>
                <li>
                    {% if app.user %}
                    <a href="{{ path('admin.user.edit', {"id": app.user.id}) }}">{{ app.user.firstName }} {{ app.user.lastName }}</a>
                    (<a href="{{ path('admin.user.logout') }}">{% trans %}admin.user.logout{% endtrans %}</a>)
                    {% endif %}
                </li>
                <li>
                    <a target="_blank" href="http://wellcommerce.org/professional-services">{% trans %}admin.user.help{% endtrans %}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="navigation-bar">
    <div class="layout-container">
        {% include 'WellCommerceAdminBundle:Admin:navigation.html.twig' %}
        <div id="boxShop">
            <span class="icon"></span>
            <div class="field-select">
                <select id="change-context">
                    {% for id, name in shops() %}
                        <option value="{{ id }}" {% if currentShop().id == id %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
<div id="message-bar"></div>
<div id="content" class="layout-container">
    {% block content %}{% endblock %}
</div>
</body>
{% endblock %}
</html>
