{% trans_default_domain "wellcommerce" %}
<div class="well-form mbt60">
    <h4>#{{ order.number }}</h4>

    <div class="well">
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-condensed order-status-table">
                    <tbody>
                    <tr>
                        <td>Status:</td>
                        <td>{{ order.currentStatus.translate().name }}</td>
                    </tr>
                    <tr>
                        <td>Date:</td>
                        <td>{{ order.createdAt|date }}</td>
                    </tr>
                    <tr>
                        <td>Payment:</td>
                        <td>{{ order.paymentMethod.translate().name }}</td>
                    </tr>
                    <tr>
                        <td>Billing address:</td>
                        <td>
                            {{ format_billing_address(order.billingAddress,'<br />') }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-condensed order-status-table">
                    <tbody>
                    <tr>
                        <td>Shipping:</td>
                        <td>{{ order.shippingMethod.translate().name }}</td>
                    </tr>
                    <tr>
                        <td>Delivery address:</td>
                        <td>
                            {{ format_shipping_address(order.shippingAddress,'<br />') }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table orders-table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Value</th>
            </tr>
            </thead>

            <tbody>
            {% for product in order.products %}
            <tr>
                <td><a href="{{ path('dynamic_' ~ product.getProduct().translate().getRoute().getId()) }}"><strong>{{ product.getProduct().translate().getName() }}</strong></a></td>
                <td>{{ format_price(product.sellPrice.grossAmount, order.currency, order.currency) }}</td>
                <td>{{ product.quantity }}</td>
                <td><strong>{{ format_price(product.sellPrice.grossAmount, order.currency, order.currency, null, product.quantity) }}</strong></td>
            </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <td colspan="3"><strong>{{ order.shippingMethod.translate().name }}</strong></td>
                <td><strong>{{ format_price(order.getModifier('shipping_cost').grossAmount, order.currency, order.currency) }}</strong></td>
            </tr>
            <tr>
                <td colspan="3"><h4>Summary</h4></td>
                <td><span class="price">{{ format_price(order.summary.grossAmount, order.currency, order.currency) }}</span></td>
            </tr>
            </tfoot>

        </table>
    </div>
</div>
