{% trans_default_domain "wellcommerce" %}
<div class="well-form mbt60">
    <h4>{% trans %}client.heading.wishlist{% endtrans %}</h4>
    {% if dataset is empty %}
        <div class="alert alert-info" role="alert">
            {% trans %}client.notice.empty_wishlist{% endtrans %}
        </div>
    {% endif %}
</div>

<div class="products-list">
    {% for item in dataset.rows %}
    <div class="item">
        <div class="row">
            <div class="col-md-3 col-sm-5 col-xs-12 text-center">
                <a href="{{ item.route }}" class="photo">
                    <img src="{{ image(item.photo, 'normal') }}" alt="{{ item.name }}">
                </a>
            </div>
            <div class="col-md-9 col-sm-7 col-xs-12">
                <div class="description">
                    <div class="row">
                        <div class="col-lg-8 col-md-7 col-xs-12">
                            <h3><a href="{{ item.route }}">{{ item.name }}</a></h3>
                            {{ item.shortDescription }}
                            {% if item.discountedPrice is not null %}
                                <span class="price promo"><small>{{ format_price(item.price, item.currency) }}</small>{{ format_price(item.discountedPrice, item.currency) }}</span>
                            {% else %}
                                <span class="price">{{ format_price(item.price, item.currency) }}</span>
                            {% endif %}
                        </div>

                        <div class="col-lg-4 col-md-5 col-xs-12 buttons text-right">
                            <a href="{{ path('front.order_product.add',{"id": item.id}) }}" class="btn btn-primary add-cart text-left">Add to cart<i class="pull-right"><img src="{{ asset('themes/wellcommerce-default-theme/assets/img/add-to-cart.png') }}" /></i></a>

                            <a href="{{ path('front.wishlist.delete',{"id": item.id}) }}" class="btn btn-link">Remove product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
