{% trans_default_domain "wellcommerce" %}

<div id="showcase-X" class="showcase carousel slide box" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
	    {% for item in dataset.rows %}
	    <div class="item active row">
	        <div class="col-md-7 col-sm-6 col-xs-5">
	            <a href="{{ item.route }}" class="photo text-center">
	                <img src="{{ image(item.photo, 'large') }}" alt="{{ item.name }}" />
	            </a>
	        </div>
	        <div class="col-md-5 col-sm-6 col-xs-7">
	            <h3>{{ item.name }}<small>{% trans %}product.label.manufactured_by{% endtrans %} {{ item.producerName }}</small></h3>
	            <span class="price">{{ format_price(item.price, item.currency) }}</span>
	            <a href="{{ path('front.cart.add') }}" class="btn btn-primary text-left add-cart" data-id="{{ item.id }}" data-qty="1" data-attribute="0">
	                {% trans %}cart.button.add{% endtrans %}<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}"></i>
	            </a>
	        </div>
	    </div>
	    {% endfor %}
	</div>

	<a class="left" href="#showcase-X" role="button" data-slide="prev">
		Previous slide
	</a>

	<a class="right" href="#showcase-X" role="button" data-slide="next">
		Next slide
	</a>
</div>
