<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="WellCommerce.org">
    <title>Home Page || WellCommerce.org</title>
    <link rel="shortcut icon" href="{{ asset( 'themes/wellcommerce/assets/img/favicon.ico' ) }}" type="image/x-icon">
    <link rel="icon" href="{{ asset( 'themes/wellcommerce/assets/img/favicon.ico' ) }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset( 'themes/wellcommerce/assets/css/bootstrap.css' ) }}"/>
    <link rel="stylesheet/less" href="{{ asset( 'themes/wellcommerce/assets/css/wellcommerce.less' ) }}"/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="{{ asset( 'themes/wellcommerce/assets/js/jquery-2.1.1.min.js' ) }}"></script>
    <script src="{{ asset( 'themes/wellcommerce/assets/js/bootstrap.js' ) }}"></script>
    <script src="{{ asset( 'themes/wellcommerce/assets/js/less.js' ) }}"></script>
    <script src="{{ asset( 'themes/wellcommerce/assets/js/core.js' ) }}"></script>
    <script src="{{ asset( 'themes/wellcommerce/assets/js/wellcommerce.js' ) }}"></script>
</head>
