{% trans_default_domain "wellcommerce" %}
<div id="sliding-search" class="sliding-search">
	<div>
		<form>
			<div class="input-group">
				<span class="input-group-addon" id="search-phrase"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
				<input type="text" class="form-control" placeholder="WellCommerce searching" aria-describedby="search-phrase">
			</div>
		</form>

		<div class="products-list">
			<div class="item">
				<div class="row">
					<div class="col-md-3 col-sm-5 col-xs-12 text-center">
						<a href="product.php" class="photo">
							<img src="http://takidizajnzejapierdole.eclairsoftware.pl/assets/prod/prod1.jpg">
						</a>
					</div>
					<div class="col-md-9 col-sm-7 col-xs-12">
						<div class="description">
							<div class="row">
								<div class="col-lg-8 col-md-7 col-xs-12">
									<h3><a href="product.php">New Apple TV® - black</a></h3>
									<p>
										Apple TV gives you access to the biggest names in entertainment, in up to 1080p HD. Just plug it in and enjoy a&nbsp;whole world of movies, TV shows, sports, music, and more.
									</p>
									<span class="price">$499.00</span>
								</div>

								<div class="col-lg-4 col-md-5 col-xs-12 buttons text-right">
									<a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}"></i></a>

									<a href="product.php" class="btn btn-link">See details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="row">
					<div class="col-md-3 col-sm-5 col-xs-12 text-center">
						<a href="product.php" class="photo">
							<img src="http://takidizajnzejapierdole.eclairsoftware.pl/assets/prod/prod2.jpg">
							<div class="labels">
								<span class="label">Bestseller</span>
							</div>
						</a>
					</div>
					<div class="col-md-9 col-sm-7 col-xs-12">
						<div class="description">
							<div class="row">
								<div class="col-lg-8 col-md-7 col-xs-12">
									<h3><a href="product.php">Fitbit Flex Wireless Wristband (Black)</a></h3>
									<p>
										This slim, stylish device is with you all the time. During the day, it tracks steps, distance, and calories burned. At night, it tracks your sleep quality and wakes you silently in the morning.
									</p>
									<span class="price">$359.00</span>
								</div>

								<div class="col-lg-4 col-md-5 col-xs-12 buttons text-right">
									<a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}"></i></a>

									<a href="product.php" class="btn btn-link">See details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="row">
					<div class="col-md-3 col-sm-5 col-xs-12 text-center">
						<a href="product.php" class="photo">
							<img src="http://takidizajnzejapierdole.eclairsoftware.pl/assets/prod/prod3.jpg">

							<div class="labels">
								<span class="label label-promotion">Promotion</span>
							</div>
						</a>
					</div>
					<div class="col-md-9 col-sm-7 col-xs-12">
						<div class="description">
							<div class="row">
								<div class="col-lg-8 col-md-7 col-xs-12">
									<h3><a href="product.php">Pebble Smartwatch</a></h3>
									<p>
										Track your activity and sleep easy with the UP™ band. Wake up feeling refreshed with Smart Alarm™, or receive an Idle Alert™ - a gentle vibration at the wrist - when you've been sitting too long.
									</p>
									<span class="price promo"><small>$549.00</small>$499.00</span>
								</div>

								<div class="col-lg-4 col-md-5 col-xs-12 buttons text-right">
									<a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}"></i></a>

									<a href="product.php" class="btn btn-link">See details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="row">
					<div class="col-md-3 col-sm-5 col-xs-12 text-center">
						<a href="product.php" class="photo">
							<img src="http://takidizajnzejapierdole.eclairsoftware.pl/assets/prod/prod4.jpg">
						</a>
					</div>
					<div class="col-md-9 col-sm-7 col-xs-12">
						<div class="description">
							<div class="row">
								<div class="col-lg-8 col-md-7 col-xs-12">
									<h3><a href="product.php">Garmin Vivofit Fitness Band</a></h3>
									<p>
										Vivofit 2 follows your progress 24/7 and shows your steps, calories, distance and time of day on its easy-to-read, backlit display.
									</p>
									<span class="price">$359.00</span>
								</div>

								<div class="col-lg-4 col-md-5 col-xs-12 buttons text-right">
									<a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}"></i></a>

									<a href="product.php" class="btn btn-link">See details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="row">
					<div class="col-md-3 col-sm-5 col-xs-12 text-center">
						<a href="product.php" class="photo">
							<img src="http://takidizajnzejapierdole.eclairsoftware.pl/assets/prod/prod5.jpg">
							<div class="labels">
								<span class="label">Bestseller</span>
							</div>
						</a>
					</div>
					<div class="col-md-9 col-sm-7 col-xs-12">
						<div class="description">
							<div class="row">
								<div class="col-lg-8 col-md-7 col-xs-12">
									<h3><a href="product.php">New Apple TV® - black</a></h3>
									<p>
										Apple TV gives you access to the biggest names in entertainment, in up to 1080p HD. Just plug it in and enjoy a&nbsp;whole world of movies, TV shows, sports, music, and more.
									</p>
									<span class="price">$499.00</span>
								</div>

								<div class="col-lg-4 col-md-5 col-xs-12 buttons text-right">
									<a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}"></i></a>

									<a href="product.php" class="btn btn-link">See details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="row">
					<div class="col-md-3 col-sm-5 col-xs-12 text-center">
						<a href="product.php" class="photo">
							<img src="http://takidizajnzejapierdole.eclairsoftware.pl/assets/prod/prod6.jpg">
							<div class="labels">
								<span class="label label-new">New product</span>
							</div>
						</a>
					</div>
					<div class="col-md-9 col-sm-7 col-xs-12">
						<div class="description">
							<div class="row">
								<div class="col-lg-8 col-md-7 col-xs-12">
									<h3><a href="product.php">Fitbit Flex Wireless Wristband (Black)</a></h3>
									<p>
										This slim, stylish device is with you all the time. During the day, it tracks steps, distance, and calories burned. At night, it tracks your sleep quality and wakes you silently in the morning.
									</p>
									<span class="price new">$359.00</span>
								</div>

								<div class="col-lg-4 col-md-5 col-xs-12 buttons text-right">
									<a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}"></i></a>

									<a href="product.php" class="btn btn-link">See details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="row">
					<div class="col-md-3 col-sm-5 col-xs-12 text-center">
						<a href="product.php" class="photo">
							<img src="http://takidizajnzejapierdole.eclairsoftware.pl/assets/prod/prod7.jpg">

							<div class="labels">
								<span class="label label-promotion">Promotion</span>
							</div>
						</a>
					</div>
					<div class="col-md-9 col-sm-7 col-xs-12">
						<div class="description">
							<div class="row">
								<div class="col-lg-8 col-md-7 col-xs-12">
									<h3><a href="product.php">Pebble Smartwatch</a></h3>
									<p>
										Track your activity and sleep easy with the UP™ band. Wake up feeling refreshed with Smart Alarm™, or receive an Idle Alert™ - a gentle vibration at the wrist - when you've been sitting too long.
									</p>
									<span class="price promo"><small>$549.00</small>$499.00</span>
								</div>

								<div class="col-lg-4 col-md-5 col-xs-12 buttons text-right">
									<a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}"></i></a>

									<a href="product.php" class="btn btn-link">See details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="row">
					<div class="col-md-3 col-sm-5 col-xs-12 text-center">
						<a href="product.php" class="photo">
							<img src="http://takidizajnzejapierdole.eclairsoftware.pl/assets/prod/prod8.jpg">
						</a>
					</div>
					<div class="col-md-9 col-sm-7 col-xs-12">
						<div class="description">
							<div class="row">
								<div class="col-lg-8 col-md-7 col-xs-12">
									<h3><a href="product.php">Garmin Vivofit Fitness Band</a></h3>
									<p>
										Vivofit 2 follows your progress 24/7 and shows your steps, calories, distance and time of day on its easy-to-read, backlit display.
									</p>
									<span class="price">$359.00</span>
								</div>

								<div class="col-lg-4 col-md-5 col-xs-12 buttons text-right">
									<a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}"></i></a>

									<a href="product.php" class="btn btn-link">See details</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="btns text-center">
				<button class="btn btn-default">See all results</button>
			</div>
		</div>
	</div>
</div>
