{% trans_default_domain "wellcommerce" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}">
<head>
    <title>Administration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Author" content="WellCommerce sp. z o.o."/>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    {% stylesheets 'bundles/wellcommerceadmin/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% javascripts
        'bundles/fosjsrouting/js/router.js'
        '@WellCommerceAdminBundle/Resources/public/js/libs/*'
        output='js/libs/all.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% javascripts
        'bundles/bazingajstranslation/js/translator.min.js'
        'js/translations/config.js'
        'js/translations/*/*.js'
        '@WellCommerceAdminBundle/Resources/public/js/core/core.js'
        '@WellCommerceAdminBundle/Resources/public/js/core/plugin/*.js'
        '@WellCommerceAdminBundle/Resources/public/js/core/form.js'
        '@WellCommerceAdminBundle/Resources/public/js/core/language/*.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        new GCore({
            iCookieLifetime: 30,
            sDesignPath: '{{ asset('bundles/wellcommerceadmin/') }}',
            iActiveView: '',
            iActiveLanguage: '',
            aoLanguages: '',
            aoVatValues: {{ taxes|json_encode|raw }},
            sUrl: '{{ app.request.getBaseURL() }}',
            sCurrentController: '',
            sCurrentAction: ''
        });

        var DataGrid;
    </script>
    {% javascripts
        '@WellCommerceAdminBundle/Resources/public/js/core/gf.js'
        '@WellCommerceAdminBundle/Resources/public/js/core/init.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        GF_Debug.s_iLevel = GF_Debug.LEVEL_ALL;
    </script>
    {% block javascripts %}{% endblock %}
    {% include 'WellCommerceAdminBundle:Admin:flashes.html.twig' %}
</head>
{% block body %}
<body>
<div id="header">
    <div class="layout-container">
        <h1>
            <a href="">
                {% image '@WellCommerceAdminBundle/Resources/public/images/logo.png' %}
                <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
            </a>
        </h1>

        <div id="livesearch">
            <input type="text" name="search" id="search" placeholder="{% trans %}admin.label.global_context{% endtrans %}"/>
        </div>
        <div id="top-menu">
            <ul>
                <li>
                    {% if app.user %}
                    <a href="{{ path('admin.user.edit', {"id": app.user.id}) }}">{{ app.user.firstName }} {{ app.user.lastName }}</a>
                    (<a href="{{ path('admin.user.logout') }}">{% trans %}admin.user.logout{% endtrans %}</a>)
                    {% endif %}
                </li>
                <li>
                    <a target="_blank" href="http://wellcommerce.org/professional-services">{% trans %}admin.user.help{% endtrans %}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="navigation-bar">
    <div class="layout-container">
        {% include 'WellCommerceAdminBundle:Admin:navigation.html.twig' %}
        <div id="boxShop">
            <span class="icon"></span>
            <div class="field-select">
                <select id="change-context">
                    <option value="0" {% if activeContextId == 0 %}selected{% endif %}>{% trans %}admin.label.global_context{% endtrans %}</option>
                    {% for id, name in shops %}
                        <option value="{{ id }}" {% if activeContextId == id %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
<div id="message-bar"></div>
<div id="content" class="layout-container">
    {% block content %}{% endblock %}
</div>
</body>
{% endblock %}
</html>
