{% extends 'WellCommerceAppBundle:Front:layout.html.twig' %}
{% block content %}
    {% include 'WellCommerceAppBundle:Front:breadcrumbs.html.twig' %}
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            {{ layout_box('category_menu') }}
        </div>

        <div class="col-sm-9 col-xs-12">
            {{ layout_box('product_showcase') }}
        </div>
    </div>
	<div class="box">
	    <h2 class="box-header">
	        Bestsellers
	    </h2>
	    {{ layout_box('product_bestseller') }}
	</div>
	<div class="box">
	    <h2 class="box-header">
	        Promotions
	    </h2>
	    {{ layout_box('product_promotion') }}
	</div>
	<div class="box">
	    <h2 class="box-header">
	        New arrivals
	    </h2>
	    {{ layout_box('product_novelty') }}
	</div>
{% endblock %}
