<p>{{ currentShop().name }}</p>
<!-- /content -->
</td>
</tr>
</table>
<!-- /body -->

<!-- footer -->
<table width="604" border="0" cellpadding="0" cellspacing="0" style="font-family:'Segoe UI',Arial,sans-serif; font-size:11px; color:#919191;">
    <tr>
        <td align="left">
            <p style="margin:11px 0;">
                {% for page in cmsPages() if page.children|length %}
                    {% for childPage in page.children %}
                        <a style="color:#484848; text-decoration:none;" href="{{ childPage.route }}">{{ childPage.name }}</a> &nbsp; | &nbsp;
                    {% endfor %}
                {% endfor %}
            </p>
        </td>
        <td width="30%" align="right">
            <p style="margin:11px 0;">&copy; {{ "now"|date("Y") }} {{ currentShop().name }}</p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <p>{% trans %}front.email.footer{% endtrans %}</p>
        </td>
    </tr>
</table>
<!-- /footer -->

</td></tr></table>
<!-- /wrapper -->

</td></tr></table>
<!-- /body-table -->

</body>
</html>
