{% extends 'WellCommerceAppBundle:Front:layout.html.twig' %}
{% block content %}
    {% include 'WellCommerceAppBundle:Front:breadcrumbs.html.twig' %}
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="box">
                <div class="list-group cms-categories">
                    {% for page in cmsPages() if page.children|length %}
                    <a href="{{ page.route }}" class="list-group-item">{{ page.name }}</a>
                    <div class="list-group subcategories">
                        {% for childPage in page.children %}
                        <a href="{{ childPage.route }}" class="list-group-item">{{ childPage.name }}</a>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-9">
            <div class="cms box">
                <h4>{{ page.translate().name }}</h4>
                {{ page.translate().content }}
            </div>
        </div>
    </div>
{% endblock %}
