{% trans_default_domain "wellcommerce" %}

<div class="category-tools">

    {% set sortingOptions = sortingOptions({'score':['asc'],'name':['asc','desc'],'finalPrice':['asc','desc']}) %}

    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="CurrencyMenu" data-toggle="dropdown" aria-expanded="true">
            {% for sort in sortingOptions if sort.active %}
                {% trans %}product.options.label.order{% endtrans %}: {{ sort.label }}
            {% endfor %}
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="SortingMenu">
            {% for sort in sortingOptions %}
                <li>
                    <a href="{{ dynamic_path({'orderBy': sort.orderBy,'orderDir':  sort.orderDir}) }}">
                        {{ sort.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="ViewMenu" data-toggle="dropdown" aria-expanded="true">
            {% trans %}product.options.label.view{% endtrans %}: {{ ('product.options.label.' ~ app.request.get('view') ~ '_view')|trans({}, 'wellcommerce') }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="ViewMenu">
            <li><a href="{{ dynamic_path({'view': 'grid'}) }}">{% trans %}product.options.label.grid_view{% endtrans %}</a></li>
            <li><a href="{{ dynamic_path({'view': 'list'}) }}">{% trans %}product.options.label.list_view{% endtrans %}</a></li>
        </ul>
    </div>

    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="LimitMenu" data-toggle="dropdown" aria-expanded="true">
            {% trans %}product.options.label.limit{% endtrans %}: {{ app.request.get('limit') }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="LimitMenu">
            <li><a href="{{ dynamic_path({'limit': 12, 'page': 1}) }}">12</a></li>
            <li><a href="{{ dynamic_path({'limit': 24, 'page': 1}) }}">24</a></li>
            <li><a href="{{ dynamic_path({'limit': 36, 'page': 1}) }}">36</a></li>
            <li><a href="{{ dynamic_path({'limit': 48, 'page': 1}) }}">48</a></li>
            <li><a href="{{ dynamic_path({'limit': 60, 'page': 1}) }}">60</a></li>
        </ul>
    </div>
</div>
