{% extends 'WellCommerceAppBundle:Front:layout.html.twig' %}
{% import "WellCommerceAppBundle:Front/Form:macros.html.twig" as macros %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    {% include 'WellCommerceAppBundle:Front:breadcrumbs.html.twig' %}
    <div class="row">
        <div class="col-md-9 col-xs-12">
            {% if currentCart().isEmpty %}
            <div class="cart">
                <div class="alert alert-info mtp30">
                    <strong>{% trans %}cart.flash.empty{% endtrans %}</strong>
                </div>
            </div>
            {% else %}
            <div class="cart">
                <div class="clearfix">
                    <a href="{{ path('front.home_page.index') }}" class="btn btn-link light btn-lg notransform nopadding">Back to shopping</a>
                    <a href="{{ path('front.order.address') }}" class="btn btn-primary btn-lg pull-right">Place an order</a>
                </div>
                {% include 'WellCommerceAppBundle:Front/Common:discounts.html.twig' %}
                {% include 'WellCommerceAppBundle:Front/Common:products_table.html.twig' with {'confirmation': false} %}
                {% include 'WellCommerceAppBundle:Front/Common:methods.html.twig' %}
                {% include 'WellCommerceAppBundle:Front/Common:summary.html.twig' %}

                <div class="clearfix">
                    <a href="{{ path('front.home_page.index') }}" class="btn btn-link light btn-lg notransform nopadding">Back to shopping</a>
                    <a href="{{ path('front.cart_address.index') }}" class="btn btn-primary btn-lg pull-right">Place an order</a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            {#{{ layout_box('vertical_promotions') }}#}
            <div class="mtp60 mbt60"></div>
            {% include 'WellCommerceAppBundle:Front/Common:sidebar_contact.html.twig' %}
        </div>
    </div>
{% endblock %}
