{% extends 'WellCommerceCoreBundle:Admin:layout.html.twig' %}
{% block content %}
    <h2>{% trans %}Edit attribute group{% endtrans %}</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.attribute_group.index') }}" class="button return"><span></span></a></li>
        <li><a href="#{{ form.attributes.name }}" rel="submit" class="button"><span>{% trans %}Save and finish{% endtrans %}</span></a></li>
    </ul>
    <div class="block">
        <div class="scrollable-tabs">
            <ul>
                {% for group in groups %}
                    <li{% if currentGroup.getId() == group.id %} class="active"{% endif %}><a href="{{ path('admin.attribute_group.edit',{'id': group.id}) }}">{{ group.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {{ form(form) }}
    </div>

    {% include 'WellCommerceAttributeBundle:Admin:AttributeGroup/javascript.html.twig' %}

{% endblock %}
