<div class="clearfix">
    <ul class="pagination pull-right">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>

<div class="row products-grid">
    {% for item in dataset.rows %}
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <div class="thumbnail">
            <div class="labels">
                <span class="label label-info">Promotion</span>
            </div>
            {{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'sort': 'address'})) }}
            <a href="{{ path(item.route) }}">
                <img src="{{ image(item.photo, 'small') }}" alt="Apple iPhone 6">
            </a>
            <div class="caption">
                <h3>{{ item.name }}</h3>
                <p class="clearfix">
                    <span class="pull-left"><b>{{ price(item.price, item.currency) }}</b></span>
                    <span class="pull-right"><small><del>$14,99</del></small></span>
                </p>
                <a href="{{ path(item.route) }}" class="btn btn-primary btn-group-justified" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="clearfix">
    <ul class="pagination pull-right">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>