<li class="dropdown">
    <a href="{{ path('front.cart.index') }}" class="dropdown-toggle cartQty" data-toggle="dropdown" role="button" aria-expanded="false">
        Cart<span class="cart-qty">{{ cart.products.count() }}</span>
    </a>
    <ul class="dropdown-menu" role="menu">
        {% for item in cart.products %}
            {% set product = item.product %}
            <li>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <a href="{{ path('front.cart.delete',{"id": item.id }) }}" class="delete">
                                <img src="{{ asset('themes/wellcommerce/assets/img/delete-ico.png') }}"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">{{ product.translate().name }}</a>
                        </td>
                        <td>
                            <input type="text" value="{{ item.quantity|number_format(0) }}" class="text-center"/>
                        </td>
                        <td class="text-right">
                            {{ format_price(product.sellPrice.amount, product.sellPrice.currency) }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="divider"></li>
        {% endfor %}

        <li class="clearfix">
            <a href="{{ path('front.cart.index') }}">
                Checkout <img src="{{ asset('themes/wellcommerce/assets/img/arrow-right-ico.png') }}"/>
            </a>
            <span class="pull-right">$798,00</span>
        </li>
    </ul>
</li>
