<div class="table-responsive">
    <table class="table products-table mbt60">
        <thead>
        <tr>
            <th class="text-center" colspan="2">{% trans %}cart.table.heading.product{% endtrans %}</th>
            <th class="text-center">{% trans %}cart.table.heading.price{% endtrans %}</th>
            <th class="text-center">{% trans %}cart.table.heading.quantity{% endtrans %}</th>
            <th class="text-center">{% trans %}cart.table.heading.value{% endtrans %}</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for item in cartProducts.rows %}
            <tr>
                <td><img src="{{ image(item.photo, 'small') }}" alt="{{ item.name }}"/></td>
                <td><a href="{{ path(item.route) }}">{{ item.name }}</a></td>
                <td class="text-center">
										<span class="price">
										    {{ format_price(item.price, item.currency) }}
										</span>
                </td>
                <td class="text-center">
                    <input type="text" class="form-control" value="{{ item.quantity|number_format(0) }}"/>
                </td>
                <td class="text-center">
				    <span class="price">
					    <strong>{{ format_price(item.quantityPrice, item.currency) }}</strong>
					</span>
                </td>
                <td class="text-center">
                    <a href="{{ path('front.cart.delete',{"id": item.id }) }}" class="btn btn-link light btn-remove"><img src="{{ asset('themes/wellcommerce/assets/img/ico-remove.png') }}"/></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>