{% trans_default_domain "wellcommerce" %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body mbt20">
            <div class="row">
                <div class="col-lg-8">
                    <h2>{{ product.translate().name }}</h2>
                    {% for photo in product.productPhotos if photo.mainPhoto == 1 %}
                        <img src="{{ image(photo.photo.path, 'large') }}" />
                    {% endfor %}
                </div>
                <div class="col-lg-4">
                    <div class="add-to-cart">
						<span class="price" id="price">
							{{ format_price(product.sellPrice.grossAmount, product.sellPrice.currency) }}
						</span>

                        <div class="available text-center">
                            {% for shippingCost in shippingCosts %}
                                <span>{{ shippingCost.shippingMethod.translate().name }} {{ format_price(shippingCost.cost.grossAmount, shippingCost.cost.currency) }}</span><br />
                            {% endfor %}
                        </div>

                        {% include 'WellCommerceAppBundle:Front/Common:add_cart_form.html.twig' %}
                    </div>

                    <div class="additional text-center">
                        <a href="#">Add to clipboard</a><br />
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-footer noborder"></div>
    </div>
</div>
