{% trans_default_domain "wellcommerce" %}
{% set score = productReviewAverage(product.reviews) %}

<div class="product-details">
    <div class="row">
        <div class="col-md-9 col-xs-12">
	        <div class="col-sm-5 col-xs-12 text-center">
		            {% set productPhotos = product.getProductPhotos() %}

					{% for photo in product.productPhotos if photo.mainPhoto == 1 %}
		                <div class="mainphoto"><a href="{{ image(photo.photo.path, 'large') }}"><img src="{{ image(photo.photo.path, 'large') }}" /></a></div>
					{% endfor %}

		            <div class="thumbnails">
			            {% for photo in product.productPhotos if photo.mainPhoto == 1 %}
			                <a href="{{ image(photo.photo.path, 'large') }}"><img src="{{ image(photo.photo.path, 'large') }}" /></a>
						{% endfor %}
		                {% for photo in product.productPhotos if photo.mainPhoto == 0 %}
		                    <a href="{{ image(photo.photo.path, 'large') }}"><img src="{{ image(photo.photo.path, 'large') }}" /></a>
		                {% endfor %}
		            </div>
	        </div>
	        <div class="col-sm-7 col-xs-12">
	            <div class="description">
	                <div class="controls clearfix">
	                    <a href="#" class="pull-left coming-soon">Previous product</a>
	                    <a href="#" class="pull-right coming-soon">Next product</a>
	                </div>

	                <h1>{{ product.translate().name }}</h1>

	                <div class="reviews">
	                    <div class="stars rat"></div>
                        {% if product.reviews.count > 0 %}
	                        <span>{{ score }} / <a href="#add-opinion-alert">see {{ product.reviews.count }} reviews</a></span>
                        {% else %}
                            <span>{{ score }} / <a href="#add-opinion-alert">{% trans %}product_review.link.first_review{% endtrans %}</a></span>
                        {% endif %}
	                </div>

	                <p>{{ product.translate().shortDescription|striptags }}</p>

	                <div class="row">
	                    <div class="col-sm-6 col-xs-6">
	                        <div class="delivery-info">
	                            <h5>{% trans %}product.label.shipping_cost{% endtrans %}</h5>
	                            {% for shipping in shippingCosts %}
	                            <span>{{ shipping.shippingMethod.translate().name }} {{ format_price(shipping.cost.grossAmount, shipping.cost.currency) }}</span>
	                            {% endfor %}
	                        </div>
	                    </div>
	                    <div class="col-md-4 col-sm-5 col-xs-6 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
	                        <div class="producer">
	                            <h5>Producer</h5>

	                            <a href="{{ path('dynamic_' ~ product.producer.translate.getRoute().getId()) }}">{{ product.producer.translate.name }}</a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div class="add-to-cart">
                {% if product.sellPrice.isDiscountValid() %}
                    <span class="price promo">
                        <small id="price">{{ format_price(product.sellPrice.grossAmount, product.sellPrice.currency) }}</small>
                        <span>{{ format_price(product.sellPrice.discountedGrossAmount, product.sellPrice.currency) }}</span>
                    </span>
                    <div class="labels">
                        <span class="label label-promotion">Promotion</span>
                    </div>
                {% else %}
                    <span class="price" id="price">
                        {{ format_price(product.sellPrice.grossAmount, product.sellPrice.currency) }}
                    </span>
                {% endif %}

                <div class="available text-center">
                    {% trans %}product.label.availability{% endtrans %}: <span class="grn">{{ product.availability.translate().name }}</span><br />
                    {% if shippingCosts.count > 0 %}
                        {% trans %}product.label.shipping_cost{% endtrans %}: {{ format_price(shippingCosts.first.cost.grossAmount, shippingCosts.first.cost.currency) }}
                    {% endif %}
                </div>
                {% include 'WellCommerceAppBundle:Front/Common:add_cart_form.html.twig' %}
            </div>

            <div class="additional text-center">
                {% if app.user and is_granted('ROLE_CLIENT') %}
                <a href="{{ path('front.wishlist.add', {"id": product.id}) }}">Add to wishlist</a><br />
                {% endif %}
                <a href="#" class="coming-soon">Add to compare</a>
            </div>
        </div>
    </div>
</div>

<div class="product-description">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div class="description-block">
                <h2>Description</h2>
                <p>{{ product.translate().description }}</p>
            </div>

			{{ layout_box('review') }}
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
            {% include 'WellCommerceAppBundle:Front/Common:sidebar_contact.html.twig' %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.product-details .add-to-cart').GProductAddCartForm({
            sAddProductRoute: 'front.order_product.add',
            oProduct: $('#product', $(this)),
            oVariant: $('#variant', $(this)),
            oQuantity: $('#quantity', $(this)),
            oPrice: $('#price', $(this)),
            oBasketModal: $('#basket-modal'),
            oCartPreview: $('#topCart'),
            sAttributesSelectClass: '.attribute',
            aoVariants: {{ variants|raw }}
        });

		$('.product-details .thumbnails > a').click(function() {
			$(".mainphoto").find('a').attr("href", $(this).attr("href"));
			$(".mainphoto").find('img').attr("src", $(this).attr("href"));
			return false;
		});

        $('#add-opinion-alert > button').click(function(){
	    	$('.product-opinions').addClass('in');
	    	$('#add-opinion-alert').hide();
        });

        $('.reviews div.stars').raty({
            readOnly: true,
            score: {{ score }},
            halfShow : false,
            starOff : '{{ asset('themes/wellcommerce-default-theme/assets/img/star-off.png') }}',
            starOn  : '{{ asset('themes/wellcommerce-default-theme/assets/img/star-on.png') }}'
        });
    });
</script>
