<form id="{{ attributes.name }}" method="{{ attributes.method }}" action="{{ attributes.action }}">
    <input type="hidden" name="{{ attributes.name }}_submitted" value="1"/>
</form>
<script type="text/javascript">
    GCore.OnLoad(function () {
        $('#{{ attributes.name }}').GForm({
            sFormName: '{{ attributes.name }}',
            sClass: '{{ attributes.class }}',
            iTabs: {% if attributes.tabs == 0 %}GForm.TABS_VERTICAL{% else %}GForm.TABS_HORIZONTAL{% endif %},
            aoFields: [
                {{ children|raw }}
            ],
            oValues: {{ values|json_encode|raw }},
            oErrors: {{ errors|json_encode|raw }}
        });
    });
</script>