{% extends "layout.html.twig" %}
{% block content %}
    <h2>{% trans %}Edit producer{% endtrans %} "{{ producer.translation.first().name }}"</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.producer.index') }}" class="button return"><span></span></a></li>
        <li><a href="#{{ form.name }}" rel="submit[continue]" class="button continue"><span>{% trans %}Save and continue{% endtrans %}</span></a></li>
        <li><a href="#{{ form.name }}" rel="submit" class="button"><span>{% trans %}Save and finish{% endtrans %}</span></a></li>
    </ul>
    {{ form(form) }}
{% endblock %}