{% extends 'WellCommerceAppBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}package.heading.index{% endtrans %}</h2>

    <ul class="possibilities">
        <li><a href="{{ path('admin.package.sync') }}" class="button"
               title="{% trans %}package.button.sync{% endtrans %}"><span>{% trans %}package.button.sync{% endtrans %}</span></a></li>
    </ul>

    <script>
        var installPackage = function (dg, id) {
            return window.location.href = Routing.generate('admin.package.require', {
                id: id
            });
        };

        var action_installPackage = new GF_Action({
            caption: Translator.trans('package.button.install', {}, 'wellcommerce'),
            action: installPackage,
            img: '{{ asset('bundles/wellcommerceadmin/images/icons/datagrid/_add.png') }}',
            condition: function (oR) {
                return oR['localVersion'] === null;
            }
        });

        var updatePackage = function (dg, id) {
            return window.location.href = Routing.generate('admin.package.update', {
                id: id
            });
        };

        var action_updatePackage = new GF_Action({
            caption: Translator.trans('package.button.update', {}, 'wellcommerce'),
            action: updatePackage,
            img: '{{ asset('bundles/wellcommerceadmin/images/datagrid/update.png') }}',
            condition: function (oR) {
                return oR['localVersion'] != null && oR['localVersion'] != oR['remoteVersion'];
            }
        });

        var removePackage = function (dg, id) {
            return window.location.href = Routing.generate('admin.package.remove', {
                id: id
            });
        };

        var action_removePackage = new GF_Action({
            caption: Translator.trans('package.button.remove', {}, 'wellcommerce'),
            action: removePackage,
            img: '{{ asset('bundles/wellcommerceadmin/images/icons/datagrid/delete.png') }}',
            condition: function (oR) {
                return oR['localVersion'] !== null;
            }
        });
    </script>
    {{ datagrid_renderer(datagrid) }}
{% endblock %}
