{% extends 'WellCommerceWebBundle:Front:layout.html.twig' %}
{% import "WellCommerceFormBundle:Front/Common:macros.html.twig" as macros %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    {% include 'WellCommerceWebBundle:Front:breadcrumbs.html.twig' %}
    <div class="row">
        <div class="col-lg-9">
            {% if cart.isEmpty %}
            <div class="cart">
                <div class="alert alert-info mtp30">
                    <strong>{% trans %}cart.flash.empty{% endtrans %}</strong>
                </div>
            </div>
            {% else %}
            <div class="cart">
                <div class="clearfix">
                    <a href="{{ path('front.home_page.index') }}" class="btn btn-link light btn-lg notransform nopadding">Back to shopping</a>
                    <a href="{{ path('front.order.address') }}" class="btn btn-primary btn-lg pull-right">Place an order</a>
                </div>
                {% include 'WellCommerceCartBundle:Front/Common:discounts.html.twig' %}

                {% include 'WellCommerceCartBundle:Front/Common:products_table.html.twig' %}

                <div class="methods">
                    <div class="row mbt60">
                        {% include 'WellCommerceCartBundle:Front/Common:coupon.html.twig' %}
                    </div>

                    <div class="row">
                        <div class="col-lg-7">
                            {{ macros.form_begin(form, 'cart') }}
                            <div class="row mbt30">
                                {#<div class="col-lg-6">#}
                                    {#<h4>Choose country</h4>#}

                                    {#<div class="row">#}
                                        {#<div class="col-lg-10">#}
                                            {#<select class="form-control">#}
                                                {#<option>USA</option>#}
                                                {#<option>UK</option>#}
                                                {#<option>Australia</option>#}
                                            {#</select>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                <div class="col-lg-6">
                                    <h4>Choose delivery</h4>

                                    <div class="row">
                                        <div class="col-lg-10">
                                            {{ macros.element(form.getChildren().get('shippingMethod')) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mbt30">
                                <div class="col-lg-6">
                                    <h4>Choose payment</h4>

                                    <div class="row">
                                        <div class="col-lg-10">
                                            {{ macros.element(form.getChildren().get('paymentMethod')) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ macros.form_end(form) }}
                        </div>

                        <div class="col-lg-5">
                            <div class="row">
                                <div class="col-lg-6 text-right">
                                    <h4><br/><br/>Cost of delivery</h4>
                                </div>
                                <div class="col-lg-6">
                                    <h4><strong><br/><br/>$9.00</strong></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="summary mbt60">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-2">
                            <div class="col-lg-9 text-right">
                                <span class="text">Summary<small>Payment method: {{ cart.getPaymentMethod().translate().getName() }}</small></span>
                            </div>
                            <div class="col-lg-3">
                                <span class="value">{{ format_price(cart.getTotals().getGrossPrice()) }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <a href="{{ path('front.home_page.index') }}" class="btn btn-link light btn-lg notransform nopadding">Back to shopping</a>
                    <a href="{{ path('front.order.address') }}" class="btn btn-primary btn-lg pull-right">Place an order</a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-lg-3">
            {{ layout_box('vertical_promotions') }}
            <div class="mtp60 mbt60"></div>
            {% include 'WellCommerceCmsBundle:Front/Common:sidebar_contact.html.twig' %}
        </div>
    </div>
{% endblock %}
