{% trans_default_domain "wellcommerce" %}
{# {% cache 'wellcommerce-default-theme/footer' {time: 3600} %} #}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xs-12">
                <div class="row">
                    {% for page in cmsPages() if page.children|length %}
                        <div class="col-sm-4 menu">
                            <h3>{{ page.name }}</h3>
                            <ul>
                                {% for childPage in page.children %}
                                    <li><a href="{{ childPage.route }}">{{ childPage.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    <div class="col-sm-4 menu">
                        <h3>{% trans %}client.heading.footer_links{% endtrans %}</h3>
                        <ul>
                            {% if app.user and is_granted('ROLE_CLIENT') %}
                                <li><a href="{{ path('front.client_settings.index') }}">{% trans %}client.link.settings{% endtrans %}</a></li>
                                <li><a href="{{ path('front.client.logout') }}">{% trans %}client.link.logout{% endtrans %}</a></li>
                                <li><a href="{{ path('front.client_order.index') }}">{% trans %}client.link.orders{% endtrans %}</a></li>
                                <li><a href="{{ path('front.client_address_book.index') }}">{% trans %}client.link.address_book{% endtrans %}</a></li>
                                <li><a href="{{ path('front.wishlist.index') }}">{% trans %}client.link.wishlist{% endtrans %}</a></li>
                            {%  else %}
                                <li><a href="{{ path('front.client.login') }}">{% trans %}client.link.login{% endtrans %}</a></li>
                                <li><a href="{{ path('front.client_password.reset') }}">{% trans %}client.link.password_forgotten{% endtrans %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12"></div>
        </div>
    </div>

    <div class="copy">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    {{ "now"|date("Y") }} © {{ currentShop().name }} / All rights reserved
                </div>
                <div class="col-lg-6 text-right">
                    Powered by <a href="http://wellcommerce.org" class="logo" title="WellCommerce - an open-source e-commerce solution"><img src="{{ asset('themes/wellcommerce-default-theme/assets/img/logo-white.svg') }}"/></a>
                </div>
            </div>
        </div>
    </div>
    {% include 'WellCommerceAppBundle:Front:modals.html.twig' %}
</footer>
{# {% endcache %} #}
