{% trans_default_domain "wellcommerce" %}
<div id="hamburger-menu" class="hamburger-menu">
	<div>
		<div class="hamburger-header clearfix">
			<a class="logo pull-left" href="index.php">
				<img alt="Brand" src="{{ asset( 'themes/wellcommerce-default-theme/assets/img/logo.png' ) }}">
			</a>

			<span class="hamburger-close push-hamburger pull-right"></span>
		</div>

		<ul class="hamburger-nav">
			{% if categoriesTree()|length > 0 %}
			<li>
				<a class="collapsed coll" data-toggle="collapse" href="#categories" aria-expanded="false" aria-controls="#categories">Categories <span class="caret bordered"></span></a>
				<ul id="categories" class="subcategories collapse">
					{% for category in categoriesTree() %}
					<li><a href=">{{ category.route }}">{{ category.name }} <small>({{ category.products_count }})</small></a></li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}

			{% for status in productStatuses().rows %}
            <li><a href="{{ status.route }}">{{ status.name }}</a></li>
            {% endfor %}

			{% for page in cmsPages() %}
			{% if page.children|length %}
			<li>
				<a class="collapsed coll" data-toggle="collapse" href="#cms{{ page.id }}" aria-expanded="false" aria-controls="#cms{{ page.id }}">{{ page.name }} <span class="caret bordered"></span></a>
				<ul id="cms{{ page.id }}" class="subcategories collapse">
					{% for childPage in page.children %}
					<li><a href="{{ childPage.route }}">{{ childPage.name }}</a></li>
					{% endfor %}
				</ul>
			</li>
			{% else %}
			<li><a href="{{ page.route }}">{{ page.name }}</a></li>
			{% endif %}
			{% endfor %}
		</ul>

		<ul class="hamburger-tools">
			{% set currencies = currencies() %}
			{% if currencies|length > 1 %}
			<li>
				<a class="collapsed coll" data-toggle="collapse" href="#currency" aria-expanded="false" aria-controls="#currency">{% trans %}currency.label{% endtrans %}: {{ app.request.session.get('_currency')|upper }} <span class="caret"></span></a>
				<ul id="currency" class="subcategories collapse">
					{% for currency in currencies %}
					<li><a href="{{ path('front.currency.switch',{"currency": currency }) }}">{{ currency }}</a></li>
					{% endfor %}
				</ul>
			</li>
			{% endif %}

			{% if app.user and is_granted('ROLE_CLIENT') %}
			<li><a href="{{ path('front.client_settings.index') }}">{% trans %}client.link.settings{% endtrans %}</a></li>
			<li><a href="{{ path('front.client_order.index') }}">{% trans %}client.link.orders{% endtrans %}</a></li>
			<li><a href="{{ path('front.client_wishlist.index') }}">{% trans %}client.link.wishlist{% endtrans %}</a></li>
			<li><a href="{{ path('front.client.logout') }}">{% trans %}client.link.logout{% endtrans %}</a></li>
			{%  else %}
			<li><a href="{{ path('front.client.login') }}">{% trans %}client.link.login{% endtrans %}</a></li>
			{% endif %}

		</ul>
	</div>
</div>
