<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="WellCommerce.org">
    <title>{{ currentShop().name }}</title>
    <link rel="shortcut icon" href="{{ asset( 'themes/wellcommerce-default-theme/assets/img/favicon.ico' ) }}" type="image/x-icon">
    <link rel="icon" href="{{ asset( 'themes/wellcommerce-default-theme/assets/img/favicon.ico' ) }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset( 'themes/wellcommerce-default-theme/assets/css/theme.css') }}" />
    <script src="{{ asset( 'themes/wellcommerce-default-theme/assets/js/theme.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="{{ asset( 'bundles/fosjsrouting/js/router.js' ) }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
</head>
