<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="hamburger push-hamburger hidden-lg hidden-md">
				<span></span>
				<span></span>
				<span></span>
			</div>

            <a class="navbar-brand" href="{{ path('front.home_page.index') }}">
                <img alt="Logo" src="{{ asset( 'themes/wellcommerce-default-theme/assets/img/logo.png') }}">
            </a>
        </div>

		{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
		{% if currentPath|replace({'/app_dev.php':''}) == '/order/address' %}
		<ul class="steps pull-right">
			<li class="passed">
				Step 1
				<small>Address</small>
			</li>

			<li class="active">
				Step 2
				<small>Finalization</small>
			</li>

			<li>
				Step 3
				<small>Payment and confirmation</small>
			</li>
		</ul>
		{% else %}
        <ul class="nav navbar-nav hidden-sm hidden-xs">
            {% for status in productStatuses().rows %}
                <li><a href="{{ status.route }}">{{ status.name }}</a></li>
            {% endfor %}
            {% for page in cmsPages() %}
                {% if page.children|length %}
                    <li class="dropdown">
                        <a href="{{ page.route }}" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-expanded="false">
                            {{ page.name }} <span class="caret bordered"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% for childPage in page.children %}
                                <li><a href="{{ childPage.route }}">{{ childPage.name }}</a></li>
                                {% if loop.last == false %}
                                    <li class="divider"></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ page.route }}">
                            {{ page.name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <ul class="nav navbar-nav navbar-right" id="topCart">
            {% include 'WellCommerceOrderBundle:Front/Cart:preview.html.twig' %}
        </ul>
        {% endif %}
    </div>
</nav>
