{% extends 'WellCommerceWebBundle:Front:layout.html.twig' %}
{% block content %}
    {% include 'WellCommerceWebBundle:Front:breadcrumbs.html.twig' %}
    <div class="row">
        <div class="col-sm-3">
            {{ layout_box('client_menu') }}
        </div>

        <div class="col-sm-9">
			<div class="products-list">
				<div class="item">
					<div class="row">
						<div class="col-md-3 col-sm-5 col-xs-12 text-center">
							<a href="product.php" class="photo">
								<img src="{{ asset('themes/wellcommerce/assets/prod/prod1.jpg') }}" />
							</a>
						</div>
						<div class="col-md-9 col-sm-7 col-xs-12">
							<div class="description">
								<div class="row">
									<div class="col-lg-8 col-md-7 col-xs-12">
										<h3><a href="product.php">New Apple TV® - black</a></h3>
										<p>
											Apple TV gives you access to the biggest names in entertainment, in up to 1080p HD. Just plug it in and enjoy a whole world of movies, TV shows, sports, music, and more.
										</p>
										<span class="price">$499.00</span>
									</div>

									<div class="col-lg-4 col-md-5 col-xs-12 buttons text-right">
										<a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}" /></i></a>

										<a href="product.php" class="btn btn-link">Remove product</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="row">
						<div class="col-md-3 col-sm-5 col-xs-12 text-center">
							<a href="product.php" class="photo">
								<img src="{{ asset('themes/wellcommerce/assets/prod/prod1.jpg') }}" />
								<div class="labels">
									<span class="label">Bestseller</span>
								</div>
							</a>
						</div>
						<div class="col-md-9 col-sm-7 col-xs-12">
							<div class="description">
								<div class="row">
									<div class="col-lg-8 col-md-7 col-xs-12">
										<h3><a href="product.php">Fitbit Flex Wireless Wristband (Black)</a></h3>
										<p>
											This slim, stylish device is with you all the time. During the day, it tracks steps, distance, and calories burned. At night, it tracks your sleep quality and wakes you silently in the morning.
										</p>
										<span class="price">$359.00</span>
									</div>

									<div class="col-lg-4 col-md-5 col-xs-12 buttons text-right">
										<a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}" /></i></a>

										<a href="product.php" class="btn btn-link">Remove product</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="row">
						<div class="col-md-3 col-sm-5 col-xs-12 text-center">
							<a href="product.php" class="photo">
								<img src="{{ asset('themes/wellcommerce/assets/prod/prod1.jpg') }}" />

								<div class="labels">
									<span class="label label-promotion">Promotion</span>
								</div>
							</a>
						</div>
						<div class="col-md-9 col-sm-7 col-xs-12">
							<div class="description">
								<div class="row">
									<div class="col-lg-8 col-md-7 col-xs-12">
										<h3><a href="product.php">Pebble Smartwatch</a></h3>
										<p>
											Track your activity and sleep easy with the UP™ band. Wake up feeling refreshed with Smart Alarm™, or receive an Idle Alert™ - a gentle vibration at the wrist - when you've been sitting too long.
										</p>
										<span class="price promo"><small>$549.00</small>$499.00</span>
									</div>

									<div class="col-lg-4 col-md-5 col-xs-12 buttons text-right">
										<a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}" /></i></a>

										<a href="product.php" class="btn btn-link">Remove product</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock %}
