{% trans_default_domain "wellcommerce" %}

<div class="category-tools">
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="ViewMenu" data-toggle="dropdown" aria-expanded="true">
            {% trans %}product.options.options.view{% endtrans %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="ViewMenu">
            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'view': 'list'})) }}">Products list</a></li>
        </ul>
    </div>

    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="CurrencyMenu" data-toggle="dropdown" aria-expanded="true">
            {% trans %}product.list.options.sort{% endtrans %}: {{ app.request.get('orderBy') }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="CurrencyMenu">
            <li>

                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': app.request.get('page'), 'limit': app.request.get('limit'), 'orderBy': 'name','orderDir': 'asc'})) }}">
                    {% trans %}product.options.order_by.name{% endtrans %} - {% trans %}product.options.order_dir.ascending{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': app.request.get('page'), 'limit': app.request.get('limit'), 'orderBy': 'name','orderDir': 'desc'})) }}">
                    {% trans %}product.options.order_by.name{% endtrans %} - {% trans %}product.options.order_dir.descending{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': app.request.get('page'), 'limit': app.request.get('limit'), 'orderBy': 'finalPrice','orderDir': 'asc'})) }}">
                    {% trans %}product.options.order_by.price{% endtrans %} - {% trans %}product.options.order_dir.ascending{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': app.request.get('page'), 'limit': app.request.get('limit'), 'orderBy': 'finalPrice','orderDir': 'desc'})) }}">
                    {% trans %}product.options.order_by.price{% endtrans %} - {% trans %}product.options.order_dir.descending{% endtrans %}
                </a>
            </li>
        </ul>
    </div>

    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="LimitMenu" data-toggle="dropdown" aria-expanded="true">
            {% trans %}product.list.options.limit{% endtrans %}: {{ app.request.get('limit') }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="LimitMenu">
            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': app.request.get('page'), 'limit': 10, 'orderBy': app.request.get('orderBy'),'orderDir': app.request.get('orderDir')})) }}">10</a></li>
            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': app.request.get('page'), 'limit': 25, 'orderBy': app.request.get('orderBy'),'orderDir': app.request.get('orderDir')})) }}">25</a></li>
            <li><a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': app.request.get('page'), 'limit': 50, 'orderBy': app.request.get('orderBy'),'orderDir': app.request.get('orderDir')})) }}">50</a></li>
        </ul>
    </div>
</div>
