{% trans_default_domain "wellcommerce" %}

<div class="category-tools">

    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="CurrencyMenu" data-toggle="dropdown" aria-expanded="true">
            {% trans %}product.options.label.order{% endtrans %}: {{ ('product.options.order_by.' ~ app.request.get('orderBy'))|trans({}, 'wellcommerce') }} - {{ ('product.options.order_dir.' ~ app.request.get('orderDir'))|trans({}, 'wellcommerce') }}
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="CurrencyMenu">
            <li>
                <a href="{{ dynamic_path({'orderBy': 'name','orderDir': 'asc'}) }}">
                    {% trans %}product.options.order_by.name{% endtrans %} - {% trans %}product.options.order_dir.asc{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ dynamic_path({'orderBy': 'name','orderDir': 'desc'}) }}">
                    {% trans %}product.options.order_by.name{% endtrans %} - {% trans %}product.options.order_dir.desc{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ dynamic_path({'orderBy': 'finalPrice','orderDir': 'asc'}) }}">
                    {% trans %}product.options.order_by.finalPrice{% endtrans %} - {% trans %}product.options.order_dir.asc{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ dynamic_path({'orderBy': 'finalPrice','orderDir': 'desc'}) }}">
                    {% trans %}product.options.order_by.finalPrice{% endtrans %} - {% trans %}product.options.order_dir.desc{% endtrans %}
                </a>
            </li>
        </ul>
    </div>

    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="LimitMenu" data-toggle="dropdown" aria-expanded="true">
            {% trans %}product.options.label.limit{% endtrans %}: {{ app.request.get('limit') }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="LimitMenu">
            <li><a href="{{ dynamic_path({'limit': 12, 'page': 1}) }}">12</a></li>
            <li><a href="{{ dynamic_path({'limit': 24, 'page': 1}) }}">24</a></li>
            <li><a href="{{ dynamic_path({'limit': 36, 'page': 1}) }}">36</a></li>
            <li><a href="{{ dynamic_path({'limit': 48, 'page': 1}) }}">48</a></li>
            <li><a href="{{ dynamic_path({'limit': 60, 'page': 1}) }}">60</a></li>
        </ul>
    </div>
</div>
