{% trans_default_domain "wellcommerce" %}

<div class="pagination-wrap clearfix">
	<span>
		results {{ dataset.pagination.currentResult.rangeFrom }} - {{ dataset.pagination.currentResult.rangeTo }} of {{ dataset.pagination.totalRows }}
	</span>

    <ul class="pagination pull-right">
        {% if dataset.pagination.previousPage is null %}
        <li class="disabled"><a href="#">&lsaquo;</a></li>
        {% else %}
        <li><a href="{{ dynamic_path({'page': dataset.pagination.previousPage}) }}">&lsaquo;</a></li>
        {% endif %}
        {% for page in dataset.pagination.pages %}
        <li {% if page.active %}class="active"{% endif %}><a href="{{ dynamic_path({'page': page.number}) }}">{{ page.number }}</a></li>
        {% endfor %}
        {% if dataset.pagination.nextPage is null %}
            <li class="disabled"><a href="#">&rsaquo;</a></li>
        {% else %}
            <li><a href="{{ dynamic_path({'page': dataset.pagination.nextPage}) }}">&rsaquo;</a></li>
        {% endif %}
    </ul>
</div>
