{% import "WellCommerceAppBundle:Front/Form:macros.html.twig" as macros %}
{% include 'WellCommerceAppBundle:Front/Common:flashes.html.twig' %}
{% trans_default_domain "wellcommerce" %}
<div class="well-form">
    <h4>{% trans %}client.heading.login{% endtrans %}<small>{% trans %}form.help.required_fields{% endtrans %}</small></h4>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {{ macros.form_begin(form) }}

        {% for element in elements %}
            {{ macros.element(element) }}
        {% endfor %}

        <div class="row">
        	<div class="col-sm-6">
            	<a href="{{ path('front.client_password.reset') }}" class="btn btn-link nopadding notransform">{% trans %}client.link.password_forgotten{% endtrans %}</a>
            </div>
			<div class="col-sm-6">
	            <div class="btn-group btn-group-justified" role="group">
					<div class="btn-group" role="group">
	                    <button type="submit" class="btn btn-primary pull-right">{% trans %}client.button.login{% endtrans %}</button>
					</div>
					<div class="btn-group btn-group-fb" role="group">
	                    <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i></a>
					</div>
				</div>
			</div>
        </div>
    {{ macros.form_end(form) }}

    <div class="alert alert-sm mtp30">
        <strong>If you are our registered customer</strong>
        <ul>
            <li>You buy quick & easy</li>
            <li>You can track progress of your orders</li>
            <li>You will receive information about promotions</li>
        </ul>
    </div>
</div>