{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}admin.heading.dashboard{% endtrans %}</h2>

    <div class="block" id="desktop">
        <div class="simple-stats layout-two-columns">
            <div class="column narrow">
                <dl class="stats-summary">
                    <dt>{% trans %}sales_report.label.sales{% endtrans %} ({% trans %}sales_report.label.today{% endtrans %} / {% trans %}sales_report.label.current_month{% endtrans %})</dt><dd> {{ format_price(salesSummary.currentValue) }} / {{ format_price(salesSummary.totalValue) }}</dd>
                    <dt>{% trans %}sales_report.label.orders{% endtrans %} ({% trans %}sales_report.label.today{% endtrans %} / {% trans %}sales_report.label.current_month{% endtrans %})</dt><dd> {{ salesSummary.currentCount }} / {{ salesSummary.totalCount }}</dd>
                    <dt>{% trans %}sales_report.label.clients{% endtrans %} ({% trans %}sales_report.label.today{% endtrans %} / {% trans %}sales_report.label.current_month{% endtrans %})</dt><dd> 0 / 0  </dd>
                </dl>
            </div>
            <div class="column wide" style="width: 850px;">
                <div class="box">
                    <div>
                        <div class="chart sales-chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-four-columns" style="display: none;">
            <div class="column">
                <div class="box simple">
                    <h3>{% trans %}admin.heading.last_opinions{% endtrans %}</h3>
                    <table cellspacing="0" class="full-size">
                        <thead>
                        <tr>
                            <th>{% trans %}user.label.username{% endtrans %}</th>
                            <th>{% trans %}admin.label.content{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <p class="more"><a class="btnMore" href="productrange"><span>{% trans %}admin.button.show_all{% endtrans %}</span></a></p>
                </div>
            </div>

            <div class="column">
                <div class="box simple">
                    <h3>{% trans %}admin.heading.last_orders{% endtrans %}</h3>
                    <table cellspacing="0" class="full-size">
                        <thead>
                        <tr>
                            <th>{% trans %}admin.label.customer{% endtrans %}</th>
                            <th>{% trans %}admin.label.sum{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <p class="more"><a class="btnMore" href="order"><span>{% trans %}admin.button.show_all{% endtrans %}</span></a></p>
                </div>
            </div>

            <!-- begin: New customers -->
            <div class="column">
                <div class="box simple">
                    <h3>{% trans %}admin.heading.new_customers{% endtrans %}</h3>
                    <table cellspacing="0" class="full-size">
                        <thead>
                        <tr>
                            <th>{% trans %}admin.label.firstname{% endtrans %}</th>
                            <th abbr="Sztuk">{% trans %}admin.label.lastname{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <p class="more"><a class="btnMore" href="client"><span>{% trans %}admin.button.show_all{% endtrans %}</span></a></p>
                </div>
            </div>
            <!-- end: New customers -->

            <!-- begin: Bestsellers -->
            <div class="column">
                <div class="box simple">
                    <h3>{% trans %}admin.heading.bestsellers{% endtrans %}</h3>
                    <table cellspacing="0" class="full-size">
                        <thead>
                        <tr>
                            <th>{% trans %}admin.label.product{% endtrans %}</th>
                            <th abbr="Sztuk">{% trans %}admin.label.quantity{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <p class="more"><a class="btnMore" href="statsproducts"><span>{% trans %}admin.button.show_raports{% endtrans %}</span></a></p>
                </div>
            </div>
            <!-- end: Bestsellers -->

            <!-- begin: Most popular -->
            <div class="column">
                <div class="box simple">
                    <h3>{% trans %}admin.heading.customers_online{% endtrans %}</h3>
                    <table cellspacing="0" class="full-size">
                        <thead>
                        <tr>
                            <th>{% trans %}admin.label.client{% endtrans %}</th>
                            <th>{% trans %}admin.label.cart{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <p class="more"><a class="btnMore" href="spy"><span>{% trans %}admin.button.show_raports{% endtrans %}</span></a></p>
                </div>
            </div>
            <!-- end: Most popular -->

        </div>
        <!-- end: Four columns -->
    </div>
    <script>
        var defaultOptions = {
            currency: '{{ currency }} '
        };

        new Chartist.Line('.sales-chart', {
            fullWidth: true,
            onlyInteger: true,
            labels: {{ salesChart.labels|json_encode|raw }},
            series: [
                {{ salesChart.values|json_encode|raw }}
            ]
        }, {
            plugins: [
                Chartist.plugins.tooltip(defaultOptions)
            ],
            low: 0,
            showArea: true,
            lineSmooth: Chartist.Interpolation.simple({
                divisor: 2
            })
        });
    </script>
{% endblock %}
