{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}order.heading.edit{% endtrans %}</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.order.index') }}" class="button return"><span></span></a></li>
        <li><a href="#{{ form.getName() }}" rel="submit" class="button"><span>{% trans %}common.button.save_and_finish{% endtrans %}</span></a></li>
    </ul>

    <div class="view-order GForm">

        <fieldset class="no-margin">
            <legend><span>{% trans %}common.fieldset.general{% endtrans %}</span></legend>
            {{ render_form(form) }}
            <div class="layout-two-columns">
                <div class="column">
                    <h3><span><strong>{% trans %}order_status_history.heading.add{% endtrans %}</strong></span></h3>
                    {{ render_form(orderStatusHistoryForm) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="no-margin">
            <legend><span>{% trans %}order_status_history.heading.view{% endtrans %} ({{ resource.orderStatusHistory.count() }})</span></legend>

            {% if resource.orderStatusHistory.count() > 0 %}
                <ul class="changes-detailed">
                    {% for entry in resource.orderStatusHistory %}
                        <li>
                            <h4><span>{{ entry.createdAt|date }} - <em>{% if entry.notify == true %}{% trans %}order_status_history.label.client_notified{% endtrans %}{% else %}{% trans %}order_status_history.label.client_not_notified{% endtrans %}{% endif %}</em></span></h4>
                            <p>{% trans %}order_status_history.label.order_status{% endtrans %}: <strong>{{ entry.orderStatus.translate.name }}</strong></p>
                            {% if entry.comment != '' %}<p>{% trans %}order_status_history.label.comment{% endtrans %}: <strong>{{ entry.comment }}</strong></p>{% endif %}
                            {% if entry.createdBy is not null %}<p class="author">{% trans %}order_status_history.label.created_by{% endtrans %}: <strong>{{ entry.createdBy }}</strong></p>{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="information">{% trans %}order_status_history.label.no_history{% endtrans %}</p>
            {% endif %}
        </fieldset>
    </div>

    <script type="text/javascript">

        $(document).ready(function(){
            $('.view-order').GTabs();
        });

        var RecalculateOrder = function(eEvent){

        };

        var OnProductListChange = GEventHandler(function(eEvent) {
            var gSelectedDatagrid = $('.field-order-editor').get(0).gNode.m_gSelectedDatagrid;
            if(gSelectedDatagrid.m_aoRows.length){
                RecalculateOrder(eEvent, true);
            }
            gSelectedDatagrid.m_jBody.find('.show-thumb').mouseenter(GTooltip.ShowThumbForThis).mouseleave(GTooltip.HideThumbForThis);
        });

        var OnProductListBeforeChange = GEventHandler(function(eEvent) {

        });
    </script>
{% endblock %}
