{% trans_default_domain "wellcommerce" %}

<div class="products-grid">
    <div class="row">
        {% for item in dataset.rows %}
        <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="thumbnail">
                <div class="body">
                    <a href="{{ item.route }}" class="photo" title="{{ item.name }}">
                        <img src="{{ image(item.photo, 'normal') }}" alt="{{ item.name }}" />
                    </a>
                    <a href="{{ item.route }}" class="caption" title="{{ item.name }}">
                        <div class="labels">
                            {% for status in item.status %}
                                <span class="label {{ status.css_class }}">{{ status.name }}</span>
                            {% endfor %}
                        </div>

                        {% if item.isDiscountValid %}
                            <span class="price promo"><small>{{ format_price(item.price, item.currency) }}</small>{{ format_price(item.discountedPrice, item.currency) }}</span>
                        {% else %}
                            <span class="price">{{ format_price(item.price, item.currency) }}</span>
                        {% endif %}
                        <span class="name">{{ item.name }}</span>
                    </a>

                    <a href="{{ path('front.order_product.add',{"id": item.id}) }}" class="btn btn-primary text-left add-cart">
                        {% trans %}cart.button.add{% endtrans %}
                        <i class="pull-right"><img src="{{ asset('themes/wellcommerce-default-theme/assets/img/add-to-cart.png') }}"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'WellCommerceAppBundle:Front/Common:pagination.html.twig' %}
