<table class="table sidebar-contact">
    <tbody>
    <tr class="row">
        <td class="col-lg-3 text-center">
            <img src="{{ asset('themes/wellcommerce-default-theme/assets/img/ico-phone.png') }}" />
        </td>
        <td class="col-lg-9">
            <h4>555 1234567<small>9:00 - 16:00</small></h4>
        </td>
    </tr>

    <tr class="row">
        <td class="col-lg-3 text-center">
            <img src="{{ asset('themes/wellcommerce-default-theme/assets/img/ico-mail.png') }}" />
        </td>
        <td class="col-lg-9">
            <h4>Contact us<small><a href="#">hello@wellcommerce.org</a></small></h4>
        </td>
    </tr>
    </tbody>
</table>
<hr class="mbt30" />
<table class="table sidebar-contact">
    <tbody>
    <tr class="row">
        <td class="col-lg-3 text-center">
            <img src="{{ asset('themes/wellcommerce-default-theme/assets/img/ico-clock.png') }}" />
        </td>
        <td class="col-lg-9">
            <h4>Shipping<br />in 48h</h4>
        </td>
    </tr>

    <tr class="row">
        <td class="col-lg-3 text-center">
            <img src="{{ asset('themes/wellcommerce-default-theme/assets/img/ico-delivery.png') }}" />
        </td>
        <td class="col-lg-9">
            <h4>Free delivery<br />from $200</h4>
        </td>
    </tr>

    <tr class="row">
        <td class="col-lg-3 text-center">
            <img src="{{ asset('themes/wellcommerce-default-theme/assets/img/ico-star.png') }}" />
        </td>
        <td class="col-lg-9">
            <h4>Good e-commerce<br />practices</h4>
        </td>
    </tr>

    <tr class="row">
        <td class="col-lg-3 text-center">
            <img src="{{ asset('themes/wellcommerce-default-theme/assets/img/ico-security.png') }}" />
        </td>
        <td class="col-lg-9">
            <h4>Secure shopping<br />process</h4>
        </td>
    </tr>
    </tbody>
</table>
