{% trans_default_domain "wellcommerce" %}
{% set productPhotos = product.getProductPhotos() %}
{% set translations = product.translate() %}
{% set sellPrice = product.getSellPrice() %}

<div class="product-details">
    <div class="row">
        <div class="col-lg-4 text-center">
            {% set productPhotos = product.getProductPhotos() %}

            {% for photo in productPhotos if photo.mainPhoto == 1 %}
                <a href="#" class="mainphoto"><img src="{{ image(photo.photo.path, 'large') }}" /></a>
            {% endfor %}

            <div class="thumbnails">
                {% for photo in productPhotos if photo.mainPhoto == 0 %}
                    <a href="#"><img src="{{ image(photo.photo.path, 'large') }}" /></a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-5">
            <div class="description">
                <div class="controls clearfix">
                    <a href="#" class="pull-left coming-soon">Previous product</a>
                    <a href="#" class="pull-right coming-soon">Next product</a>
                </div>

                <h1>{{ translations.name }}</h1>

                <div class="reviews">
                    <div class="stars rat rat3">
                        <img src="{{ asset('themes/wellcommerce/assets/img/star-on.png') }}" />
                        <img src="{{ asset('themes/wellcommerce/assets/img/star-on.png') }}" />
                        <img src="{{ asset('themes/wellcommerce/assets/img/star-on.png') }}" />
                        <img src="{{ asset('themes/wellcommerce/assets/img/star-on.png') }}" />
                        <img src="{{ asset('themes/wellcommerce/assets/img/star-on.png') }}" />
                    </div>

                    <span>4.3 / see 12 reviews</span>
                </div>

                <p>{{ translations.shortDescription|striptags }}</p>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="delivery-info">
                            <h5>{% trans %}product.label.availability{% endtrans %}</h5>
                            <span>{{ product.availability.translate().name }}</span>
                            <h5>{% trans %}product.label.shipping_cost{% endtrans %}</h5>
                            {% for shippingCost in shippingCosts %}
                            <span>{{ shippingCost.shippingMethod.translate().name }} {{ format_price(shippingCost.cost.grossAmount, shippingCost.cost.currency) }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-lg-offset-2">
                        <div class="producer">
                            <h5>Producer</h5>

                            <a href="{{ path('dynamic_' ~ product.getProducer().translate.getRoute().getId()) }}"><img src="{{ asset('themes/wellcommerce/assets/prod/producer.png') }}" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="add-to-cart">
						<span class="price">
							{{ format_price(sellPrice.grossAmount, sellPrice.currency) }}
						</span>

                <div class="labels">
                    <span class="label label-promotion">Promotion</span>
                </div>

                <div class="available text-center">
                    Product is <span class="grn">available</span><br />
                    Shipping from: $25.00
                </div>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="size" class="col-lg-5 control-label">Color</label>
                        <div class="col-lg-7">
                            <select class="form-control">
                                <option>Silver</option>
                                <option>Black</option>
                                <option>Blue</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="size" class="col-lg-5 control-label">Size</label>
                        <div class="col-lg-7">
                            <select class="form-control">
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quantity" class="col-lg-5 control-label">Quantity</label>
                        <div class="col-lg-7">
                            <input type="text" id="quantity" class="form-control" value="1" />
                        </div>
                    </div>
                    <a href="{{ path('front.cart.add',{"id": product.id}) }}" class="btn btn-primary btn-block text-left add-cart">{% trans %}cart.button.add{% endtrans %}<i class="pull-right"><img src="{{ asset('themes/wellcommerce/assets/img/add-to-cart.png') }}"></i></a>
                </form>
            </div>

            <div class="additional text-center">
                <a href="#" class="coming-soon">Add to clipboard</a><br />
                <a href="#" class="coming-soon">Add to compare</a>
            </div>
        </div>
    </div>
</div>

<div class="product-description">
    <div class="row">
        <div class="col-lg-9">
            <div class="description-block">
                <h2>Description</h2>
                <p>{{ translations.description }}</p>
            </div>

            <div class="description-block">
                <h2>Opinions</h2>

                <div class="alert alert-success">
                    <button class="btn btn-success btn-lg pull-right coming-soon">Add opinion</button>
                    <strong>Help others decide - add rating and review</strong><br />
                    Your rating will help others decide to choose the right product
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            {% include 'WellCommerceCmsBundle:Front/Common:sidebar_contact.html.twig' %}
        </div>
    </div>
</div>
