{% trans_default_domain "wellcommerce" %}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header noborder">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
            <div class="alert alert-success text-center mbt30">
                <strong>"{{ product.translate().name }}"</strong> {% trans %}cart.flash.added{% endtrans %}
            </div>

            <h5 class="text-center">{% trans %}cart.heading.recommendations{% endtrans %}</h5>

            <div class="products-grid">
                <div class="row">
                    {% for item in recommendations.rows %}
                        <div class="col-sm-4 {% if loop.first %}col-xs-12{% else %}hidden-xs{% endif %}">
                            <div class="thumbnail">
                                <div class="body">
                                    <a href="{{ item.route }}" class="photo">
                                        <img src="{{ image(item.photo, 'normal') }}" alt="{{ item.name }}" />
                                    </a>

                                    <a href="{{ item.route }}" class="caption">
                                        <div class="labels">
                                            {% for status in item.status %}
                                                <span class="label {{ status.css_class }}">{{ status.name }}</span>
                                            {% endfor %}
                                        </div>
                                        <span class="price">{{ format_price(item.price, item.currency) }}</span>
                                        <span class="name">{{ item.name }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-link dark nopadding notransform pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Back to shopping</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('front.order_cart.index') }}';">Go to cart<span class="cart-qty">{{ currentOrder().productTotal.quantity }}</span></button>
        </div>
    </div>
</div>
